html{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: futura;
}
body{
  background-color: #F3F3F3;
}



















/* custom fonts */
@font-face {
  font-family: futura;
  src: url('/public/font/FuturaCyrillicMedium.ttf');
}